@import "./_mixins.scss";
@import "./_gogo.style.scss";
@import "./_plugins.scss";

/** your custom css code **/
/* 
html {
    background-color: $theme-color-1 !important;
}
*/


.max-w-300px {
    max-width: 300px;
}

.w-full {
    width: 100%;
}

.custom-scrollbar {
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #616161;
    }

    &::-webkit-scrollbar {
        width: 10px;
        border-radius: 10px;
        background-color: #fff;
    }
}


/* 45.Custom */

.profile-avatar {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;

    .wrapper {
        width: 100%;
        max-width: 200px;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid $input-background;

        img {
            width: 200px;
            height: 200px;
        }

        .hover-layer {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 40px;
            background-color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: 0.3s all;
            cursor: pointer;

            .change-avatar {
                font-size: 24px;

                &.two {
                    font-size: 20px;
                    margin: 0 8px;
                    &:hover {
                        opacity: 0.95;
                    }
                }
            }
        }

        &:hover {
            .hover-layer {
                opacity: 1;
            }
        }
    }

    .hidden-file {
        position: fixed;
        left: -100px;
        top: -100px;
    }
}


/* Table Action Column */

.tbl-actions {

    white-space: nowrap;

    i {
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
        transition: 0.3s all;

        &.danger {
            color: #dc3545;

            &:hover {
                color: #b12533;
            }
        }

        &.info {
            color: #13c6e2;

            &:hover {
                color: #17a2b8;
            }
        }

        &.success {
            color: #28a745;

            &:hover {
                color: #13852e;
            }
        }

        &.warning {
            color: orange;

            &:hover {
                color: rgb(212, 141, 8);
            }
        }

        &.inactive {
            color: #898989;

            &:hover {
                color: #28a745;
            }
        }
    }
}


/* Location Item - components/custom/LocationItem.js */

.location-item {
    padding: 10px;
    border-left: 3px solid $theme-color-1;
    background-color: $input-background;
    margin: 15px 0;

    &:first-child {
        margin: 0;
    }
}


.all-avatars {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .example-avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid $theme-color-1;
        margin: 10px 10px;
        cursor: pointer;
        &.selected {
            border: 2px solid $theme-color-2;
        }
    }
}
