@import "./_mixins.scss";
@import "./_gogo.style.scss";
@import "./_plugins.scss";

/** your custom css code **/
/* 
html {
    background-color: $theme-color-1 !important;
}
*/ 


/* 45.Custom */ 

.profile-avatar {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    .wrapper {
        width: 100%;
        max-width: 200px;
        position: relative;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
        }
        .hover-layer {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 40px;
            background-color: rgba(0,0,0,0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: 0.3s all;
            cursor: pointer;

            .change-avatar {
                font-size: 24px;
            }
        }

        &:hover {
            .hover-layer {
                opacity: 1;
            }
        }
    }
    .hidden-file {
        position: fixed;
        left: -100px;
        top: -100px;
    }
}


/* Table Action Column */ 

.tbl-actions {
    i {
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
        transition: 0.3s all;

        &.danger {
            color: #dc3545;
            &:hover {
                color: #b12533;
            }
        }
        &.info {
            color: #13c6e2;
            &:hover {
                color: #17a2b8;
            }
        }
        &.success {
            color: #28a745;
            &:hover {
                color: #13852e;
            }
        }
    }
}